{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/0b431ba239.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'orders/index.css' %}"/>
  
        <!-- JavaScript -->
        <script src="{% static 'orders/script/index.js' %}" type="module" charset="utf-8"></script>

    </head>
    <body>
        <div class="containter-fluid">
            <header>
                <div id="header_top">
                    <div>
                        <a id="home_logo" href="{% url 'index' %}">
                            <img id="logo" src="{% static 'orders/images/logo.gif' %}" alt="Pinocchios">
                            <img id="name_header" src="{% static 'orders/images/pinocchios.png' %}" alt="Pinocchios Name">
                        </a>
                    </div>
                    {% block heading_top_right_mobile %}{% endblock %}
                    {% block heading_top_right_desktop %}{% endblock %}
                </div>
                <div id="header_bottom">
                    <div id="header_bottom_left">
                        <div id="header_bottom_area">{% block heading_left %}{% endblock %}</div>
                    </div>
                    <div id="header_bottom_center">
                        <h1 id="heading_app">{% block heading %}{% endblock %}</h1>
                    </div>
                    <div id="header_bottom_right">
                        <div>
                            <a id="shopping_cart_link" href="{% url 'cart' %}">
                                <i class="fas fa-shopping-cart"></i>
                                <p>{% block cart %}{% endblock %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>