{% extends "orders/layout_landing.html" %}

{% load static %}

{% block title %}
    Register - Pinocchio's
{% endblock %}

{% block body %}
    <div id="register_container">

        <img class="name" src="{% static 'orders/images/pinocchios.png' %}" alt="Pinocchios Name">

        <form id="register_form" action="{% url 'register' %}" method="post">
            {% csrf_token %}

            {% for field in form %}
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <input class="button_big" type="submit" value="Register">
        </form>

        <a class="login_register" href="{% url 'login' %}">Or Log In</a>
    </div>

{% endblock %}